body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family: Arial, sans-serif;
   text-align: center;
}

img {
  width: 100%;
}

main, .container, body > div:has(figure) {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

figure {
    margin: 0;
    padding: 10px;
}

figure img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

@media (min-width: 772px) {
    main, .container, body > div:has(figure) {
        grid-template-columns: repeat(2, 1fr);
    }

    figure {
        border-radius: 50%;
        overflow: hidden;
    }

    figure:last-of-type {
        grid-column: span 2;
    }
}

@media (min-width: 992px) {
    main, .container, body > div:has(figure) {
        grid-template-columns: repeat(3, 1fr);
    }

    figure {
        border-radius: 0;
    }

    figure:nth-of-type(3n) {
        grid-column: span 2;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto !important;
    }
    
    *, *::before, *::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0s !important;
        scroll-behavior: auto !important;
    }
}

@media (prefers-color-scheme: dark) {
    figure {
        background-color: #222222;
        color: #ffeb3b;
        border: 2px solid #000000;
    }
}
